name: Discord Notification

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  github-releases-to-discord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Discord Release Webhook
        uses: lettermint/action-discord-releases@v1.0.1
        with:
          color: '4584b6'
          webhook_url: ${{ secrets.DISCORD_RELEASE_WEBHOOK_URL }}
          content: 'A new release for the Lettermint Python SDK is now available! ||@Python||'
